<!doctype html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>functest</title>
	  {% load static %}
	  <link rel="stylesheet" href="{% static 'project/css/style.css' %}" type="text/css">
	  <link rel="stylesheet" type="text/css" href="{% static 'project/css/mobile.css' %}">
	  <script src="{% static 'project/js/mobile.js' %}" type="text/javascript"></script>

	  <script type="text/javascript" src="{% static 'project/js/jquery-1.4.0.min.js' %}"></script>
	<script src="{% static 'project/js/checkinputvalid.js' %}" type="text/javascript"></script>
	<script src="{% static 'project/js/parameterdescription.js' %}" type="text/javascript"></script>
</head>
<body>
    <script>
		document.addEventListener("DOMContentLoaded", function(event) {
			if(sessionStorage.getItem("loginSuccess") == "true"){
				document.getElementById("loginword").style.display = "none";
				document.getElementById("loginlogo").style.display = "block";
			}
	  });
	  
	</script>
	<div id="page">
		<div id="header">
			<div>
				<a href="/index" class="logo"><img src="{% static 'project/images/logo.png' %}" width="340" height="55" alt="Logo"></a>
				<ul id="navigation">
		          <li]>
		            <a href="/index">Home</a>
		          </li>
		          <li class="selected">
		            <a href="/physical_outcome_measures">Physical outcome measures</a>
		          </li>
		          <li>
		            <a href="/measurement_research">measurement research</a>  
		          </li>
		          <li>
		            <a href="/self-reported_measures">self-reported measures</a>
		            
		          </li>
		          <li>
		            <a href="/contact">Contact</a>
		          </li>
		          <li>
		            <a id="loginword" href="/login">Login</a>
		          </li>
		        </ul>
						
						<!--
						<a href="login/index.html" class="login"><img src="images/login.png" width="50" height="50"alt=""></a>
						-->
				<a href="/login" class="login" id="loginlogo" style="display:none"><img src="{% static 'project/images/login.png' %}" width="50" height="50"alt=""></a>
			</div>
		</div>
		{% csrf_token %}
    <div id="body">
      <div class="iso_head">
        <h1> Functional performance </h1>
      </div>
      <div class="participant">
          <h2>Participant Details</h2>
          <div class="left">
            <img src="{% static 'project/images/age.png' %}" width="60" height="60" alt="age">
            <p>Age</p>
            <input type="text" style="width:60px; height:23px" name="Age">
            <p>years</p>
          </div>
          <div class="right">
            <img src="{% static 'project/images/gender.png' %}" width="60" height="60" alt="gender">
            <p>Gender</p>
            <select id="id_gender" name="gender"> 
                    <option value="male">male</option> 
                    <option value="female">female</option> 
                </select> 
          </div>
      </div>
      <div class="raws">
          <h2>raw scores</h2>
          <div class="left">
            <img src="{% static 'project/images/Functional Dexterity.png' %}" width="60" height="60" alt="Functional Dexterity" onclick="popDescription(alt)">
            <p>Functional Dexterity</p>
            <input type="text" style="width:60px; height:23px" name="Functional Dexterity">
            <p>seconds</p>
			<div class="leftDescription">
			  <p id="Functional Dexterity" style = "display:none"> fjdk sajfl fjaljlajf  la= === ==== ==== ====== === ===== ==== ===== === ===== ===== ==== ==== === === ===  ====j flajf aljfal jaaajl fajafj </p>
			</div>
          </div>
          <div class="right">
            <img src="{% static 'project/images/Vertical jump.png' %}" width="60" height="60" alt="Vertical jump" onclick="popDescription(alt)">
            <p>Vertical jump</p>
            <input type="text" style="width:60px; height:23px" name="Vertical jump">
            <p>centimetres</p>
			<div class="rightDescription">
			  <p id="Vertical jump" style = "display:none">  fjalfj  jgjg gks === == gnlgjl === === ==== ==== ==== ===== ==== ==== ===== ====== === ==== ===== ===== ====== ==== ===   alja aaj lfaj afj </p>
			</div>
          </div>
          <div class="left">
            <img src="{% static 'project/images/9 Hole Peg.png' %}" width="60" height="60" alt="9 Hole Peg" onclick="popDescription(alt)">
            <p>9 Hole Peg</p>
            <input type="text" style="width:60px; height:23px" name="9 Hole Peg">
            <p>seconds</p>
			<div class="leftDescription">
			  <p id="9 Hole Peg" style = "display:none"> fjdk sajfl fjaljlajf  la= === ==== ==== ====== === ===== ==== ===== === ===== ===== ==== ==== === === ===  ====j flajf aljfal jaaajl fajafj </p>
			</div>
          </div>
          <div class="right">
            <img src="{% static 'project/images/Stair climb test.png' %}" width="60" height="60" alt="Stair climb test" onclick="popDescription(alt)">
            <p>Stair climb test</p>
            <input type="text" style="width:60px; height:23px" name="Stair climb test">
            <p>seconds</p>
			<div class="rightDescription">
			  <p id="Stair climb test" style = "display:none">  fjalfj  jgjg gks === == gnlgjl === === ==== ==== ==== ===== ==== ==== ===== ====== === ==== ===== ===== ====== ==== ===   alja aaj lfaj afj </p>
			</div>
          </div>
          <div class="left">
            <img src="{% static 'project/images/SEBT.png' %}" width="60" height="60" alt="SEBT" onclick="popDescription(alt)">
            <p>SEBT</p>
            <input type="text" style="width:60px; height:23px" name="SEBT">
            <p>% leg length</p>
			<div class="leftDescription">
			  <p id="SEBT" style = "display:none"> fjdk sajfl fjaljlajf  la= === ==== ==== ====== === ===== ==== ===== === ===== ===== ==== ==== === === ===  ====j flajf aljfal jaaajl fajafj </p>
			</div>
          </div>
          <div class="right">
            <img src="{% static 'project/images/Choice Stepping Reaction Time.png' %}" width="60" height="60" alt="Choice Stepping Reaction Time" onclick="popDescription(alt)">
            <p>Choice stepping reaction time</p>
            <input type="text" style="width:60px; height:23px" name="Choice Stepping Reaction Time">
            <p>ms</p>
			<div class="rightDescription">
			  <p id="Choice Stepping Reaction Time" style = "display:none">  fjalfj  jgjg gks === == gnlgjl === === ==== ==== ==== ===== ==== ==== ===== ====== === ==== ===== ===== ====== ==== ===   alja aaj lfaj afj </p>
			</div>
          </div>
          <div class="left">
            <img src="{% static 'project/images/Long Jump.png' %}" width="60" height=60" alt="Long Jump" onclick="popDescription(alt)">
            <p>Long Jump</p>
            <input type="text" style="width:60px; height:23px" name="Long Jump">
            <p>centimetres</p>
			<div class="leftDescription">
			  <p id="Long Jump" style = "display:none"> fjdk sajfl fjaljlajf  la= === ==== ==== ====== === ===== ==== ===== === ===== ===== ==== ==== === === ===  ====j flajf aljfal jaaajl fajafj </p>
			</div>
          </div>
          <div class="right">
            <img src="{% static 'project/images/30-sec sit to stand test.png' %}" width="60" height="60" alt="30-sec sit to stand test" onclick="popDescription(alt)">
            <p>30-sec sit to stand test</p>
            <input type="text" style="width:60px; height:23px" name="30-sec sit to stand test">
            <p>number</p>
			<div class="rightDescription">
			  <p id="30-sec sit to stand test" style = "display:none">  fjalfj  jgjg gks === == gnlgjl === === ==== ==== ==== ===== ==== ==== ===== ====== === ==== ===== ===== ====== ==== ===   alja aaj lfaj afj </p>
			</div>
          </div>
          <div class="left">
            <img src="{% static 'project/images/6 Minutes Walk.png' %}" width="60" height="60" alt="6 Minute Walk" onclick="popDescription(alt)">
            <p>6 Minute Walk</p>
            <input type="text" style="width:60px; height:23px" name="6 Minute Walk">
            <p>metres</p>
			<div class="leftDescription">
			  <p id="6 Minute Walk" style = "display:none"> fjdk sajfl fjaljlajf  la= === ==== ==== ====== === ===== ==== ===== === ===== ===== ==== ==== === === ===  ====j flajf aljfal jaaajl fajafj </p>
			</div>
          </div>
          <div class="right">
            <img src="{% static 'project/images/Balance.png' %}" width="60" height="60" alt="Balance" onclick="popDescription(alt)">
            <p>Balance</p>
            <input type="text" style="width:60px; height:23px" name="Balance">
            <p>BOT score</p>
			<div class="rightDescription">
			  <p id="Balance" style = "display:none">  fjalfj  jgjg gks === == gnlgjl === === ==== ==== ==== ===== ==== ==== ===== ====== === ==== ===== ===== ====== ==== ===   alja aaj lfaj afj </p>
			</div>
          </div>

      </div>
	  
	  <!--
	  	  <div class = "calculatebutton">
		<a href="funcresult.html" class="more">Calculate</a>
	  </div>
	  -->
	  
	  <div class = "calculatebutton">
		<a onclick="checkFuncvalid()" class="more">Calculate</a>
	  </div>
	  
	  <div id = "func_result" style = "display:none">
		  <div id="body">
		  <div class="iso_head">
			<h1>Your Functional performance Result</h1>
		  </div>
		  <div class="raws">
			  <div class="same">
				<img src="{% static 'project/images/Functional Dexterity.png' %}" width="60" height="60" alt="Functional Dexterity">
				<p>Functional Dexterity</p>
				<p id="fdt">EXPLAINEXPLAINEXPLAINEXPLAINEXPLAINEXPLAINEXPLAIN</p>
			  </div>
			  <div class="same">
				<img src="{% static 'project/images/Vertical jump.png' %}" width="60" height="60" alt="Vertical jump">
				<p>Vertical jump</p>
				<p id="vj">EXPLAINEXPLAINEXPLAINEXPLAINEXPLAINEXPLAIN</p>
			  </div>
			  <div class="same">
				<img src="{% static 'project/images/9 Hole Peg.png' %}" width="60" height="60" alt="9 Hole Peg">
				<p>9 Hole Peg</p>
				<p id="hpt9">EXPLAINEXPLAINEXPLAINEXPLAINEXPLAINEXPLAIN</p>
			  </div>
			  <div class="same">
				<img src="{% static 'project/images/Stair climb test.png' %}" width="60" height="60" alt="Stair climb test">
				<p>Stair climb test</p>
				<p id="tst">EXPLAINEXPLAINEXPLAINEXPLAINEXPLAINEXPLAIN</p>
			  </div>
			  <div class="same">
				<img src="{% static 'project/images/SEBT.png' %}" width="60" height="60" alt="SEBT">
				<p>SEBT</p>
				<p id="seb">EXPLAINEXPLAINEXPLAINEXPLAINEXPLAINEXPLAIN</p>
			  </div>
			  <div class="same">
				<img src="{% static 'project/images/Choice Stepping Reaction Time.png' %}" width="60" height="60" alt="Choice Stepping Reaction Time">
				<p>Choice stepping reaction time</p>
				<p id="csrt">EXPLAINEXPLAINEXPLAINEXPLAINEXPLAINEXPLAIN</p>
			  </div>
			  <div class="same">
				<img src="{% static 'project/images/Long Jump.png' %}" width="60" height=60" alt="Long Jump">
				<p>Long Jump</p>
				<p id="lj">EXPLAINEXPLAINEXPLAINEXPLAINEXPLAIN</p>
			  </div>
			  <div class="same">
				<img src="{% static 'project/images/30-sec sit to stand test.png' %}" width="60" height="60" alt="30-sec sit to stand test">
				<p>30-sec sit to stand test</p>
				<p id="sts">EXPLAINEXPLAINEXPLAINEXPLAINEXPLAINEXPLAIN</p>
			  </div>
			  <div class="same">
				<img src="{% static 'project/images/6 Minutes Walk.png' %}" width="60" height="60" alt="6 Minute Walk">
				<p>6 Minute Walk</p>
				<p id="mwt6">EXPLAINEXPLAINEXPLAINEXPLAINEXPLAINEXPL</p>
			  </div>
			  <div class="same">
				<img src="{% static 'project/images/Balance.png' %}" width="60" height="60" alt="Balance">
				<p>Balance</p>
				<p id="botb">EXPLAINEXPLAINEXPLAINEXPLAINEXPLAIN</p>
			  </div>

		  </div>

		</div>
	  </div>
	  
    </div>

			<div id="footer">
			<div class="connect">
				<div>
					<h1>Find more on</h1>
					<div>
						<a href="https://www.facebook.com/" class="facebook">facebook</a>
						<a href="https://twitter.com/" class="twitter">twitter</a>

					</div>
				</div>
			</div>
			<div class="footnote">
				<div>
					<p>&copy; 2018 BY UNIVERSITY of SYDNEY| ALL RIGHTS RESERVED</p>
				</div>
			</div>
		</div>

  </div>
</body>
</html>
