
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IMS test</title>
</head>
<body>
     <div style="margin: 15% 40%;">
        <h1>IMS test</h1>
       <form action="/ims/" method="post">
        {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endif %}
        {% csrf_token %}
            <p>
                <label for="id_age">Age</label>
                <input type="text" id="id_age" name="age" placeholder="" autofocus required / >
            </p>

            <p>
                <label for="id_gender">Gender</label>
                <select id="id_gender" name="gender"> 
                    <option value="male">male</option> 
                    <option value="female">female</option> 
                </select> 
                
            </p>
          
            <p>
                <label for="id_gs">gs</label>
                <input type="text" id="id_gs" placeholder="" name="gs" required >
            </p>

            <p>
                <label for="id_apfs">apfs</label>
                <input type="text" id="id_apfs" placeholder="" name="apfs" required>
            </p>

            <p>
                <label for="id_ads">ads</label>
                <input type="text" id="id_ads" placeholder="" name="ads" required>
            </p>

            <p>
                <label for="id_kfs">kfs</label>
                <input type="text" id="id_kfs" placeholder="" name="kfs" required>
            </p>

            <p>
                <label for="id_kes">kes</label>
                <input type="text" id="id_kes" placeholder="" name="kes" required>
            </p>

            <p>
                <label for="id_has">has</label>
                <input type="text" id="id_has" placeholder="" name="has" required>
            </p>

            <p>
                <label for="id_hers">hers</label>
                <input type="text" id="id_hers" placeholder="" name="hers" required>
            </p>

            <p>
                <label for="id_hirs">hirs</label>
                <input type="text" id="id_hirs" placeholder="" name="hirs" required>
            </p>

            <p>
                <label for="id_efs">efs</label>
                <input type="text" id="id_efs" placeholder="" name="efs" required>
            </p>

            <p>
                <label for="id_ees">ees</label>
                <input type="text" id="id_ees" placeholder="" name="ees" required>
            </p>

            <p>
                <label for="id_sers">sers</label>
                <input type="text" id="id_sers" placeholder="" name="sers" required>
            </p>

            <p>
                <label for="id_sirs">sirs</label>
                <input type="text" id="id_sirs" placeholder="" name="sirs" required>
            </p>
            
            <input type="submit" value="Submit IMS">
        </form>
    </div>
 
</body>
</html>