
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JF test</title>
</head>
<body>
    <style>
    pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
    .string { color: green; }
    .number { color: darkorange; }
    .boolean { color: blue; }
    .null { color: magenta; }
    .key { color: red; }
</style>
     <div style="margin: 15% 40%;">
        <h1>JF test</h1>

       <form id="jf_form">
        {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endif %}
            <p>
                <label for="id_age">Age</label>
                <input type="text" id="id_age" name="age" placeholder="" autofocus required / >
            </p>

            <p>
                <label for="id_gender">Gender</label>
                <select id="id_gender" name="gender"> 
                    <option value="male">male</option> 
                    <option value="female">female</option> 
                </select> 
                
            </p>
          
            <p>
                <label for="id_kf">kf</label>
                <input type="text" id="id_kf" placeholder="" name="kf" required >
            </p>

            <p>
                <label for="id_ke">ke</label>
                <input type="text" id="id_ke" placeholder="" name="ke" required>
            </p>

            <p>
                <label for="id_apf">apf</label>
                <input type="text" id="id_apf" placeholder="" name="apf" required>
            </p>

            <p>
                <label for="id_ad">ad</label>
                <input type="text" id="id_ad" placeholder="" name="ad" required>
            </p>

            <p>
                <label for="id_hf">hf</label>
                <input type="text" id="id_hf" placeholder="" name="hf" required>
            </p>

            <p>
                <label for="id_her">her</label>
                <input type="text" id="id_her" placeholder="" name="her" required>
            </p>

            <p>
                <label for="id_hir">hir</label>
                <input type="text" id="id_hir" placeholder="" name="hir" required>
            </p>

            <p>
                <label for="id_ef">ef</label>
                <input type="text" id="id_ef" placeholder="" name="ef" required>
            </p>

            <p>
                <label for="id_ee">ee</label>
                <input type="text" id="id_ee" placeholder="" name="ee" required>
            </p>

            <p>
                <label for="id_ser">ser</label>
                <input type="text" id="id_ser" placeholder="" name="ser" required>
            </p>

            <p>
                <label for="id_sir">sir</label>
                <input type="text" id="id_sir" placeholder="" name="sir" required>
            </p>

            <input type="button" id="jf_submit" value="Submit JF">
        </form>
    </div>
    <div>
        <res id='result'>
        </res>
    </div>
 
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        jQuery(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
 
    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});
    </script>
    <script>
        function syntaxHighlight(json) {
    if (typeof json != 'string') {
        json = JSON.stringify(json, undefined, 2);
    }
    json = json.replace(/&/g, '&').replace(/</g, '<').replace(/>/g, '>');
    return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function(match) {
        var cls = 'number';
        if (/^"/.test(match)) {
            if (/:$/.test(match)) {
                cls = 'key';
            } else {
                cls = 'string';
            }
        } else if (/true|false/.test(match)) {
            cls = 'boolean';
        } else if (/null/.test(match)) {
            cls = 'null';
        }
        return '<span class="' + cls + '">' + match + '</span>';
    });
}
    </script>
        <script> 
            $.fn.serializeJson=function(){
            var serializeObj={};
            var array=this.serializeArray();
            var str=this.serialize();
            $(array).each(function(){
                if(serializeObj[this.name]){
                    if($.isArray(serializeObj[this.name])){
                        serializeObj[this.name].push(this.value);
                    }else{
                        serializeObj[this.name]=[serializeObj[this.name],this.value];
                    }
                }else{
                    serializeObj[this.name]=this.value;
                }
            });
            return serializeObj;
        };
    $("#jf_submit").click(function() {
        form_str = $("#jf_form").serializeJson();
        console.log('submitted data:');
        console.log(form_str);
        
        $.ajax("/jf/submit",{
                  data:JSON.stringify(form_str),
                   contentType:"application/json",
                   type:"POST",
                   dataType: 'JSON',
                   success:function(data){
                        console.log('responsed data:');
                        console.log(data);
                        $("#result").html(syntaxHighlight(data));
                    }
             
        });
    })
        </script>
</body>
</html>