{#login/templates/login/register.html#}
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
     <div style="margin: 15% 40%;">
        <h1>Register</h1>
       <form action="/register/" method="post">
        {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endif %}
        {% csrf_token %}
            <p>
                <label for="id_username">Username:</label>
                <input type="text" id="id_username" name="username" placeholder="username" autofocus required />
            </p>
          
            <p>
                <label for="id_password1">Password</label>
                <input type="password" id="id_password1" placeholder="password" name="password1" required >
            </p>
            <p>
                <label for="id_password2">Repeat Password</label>
                <input type="password" id="id_password2" placeholder="repeat password" name="password2" required >
            </p>
            
            <p>
                <label for="id_gender">Gender</label>
                <select id="id_gender" name="gender"> 
                    <option value="male">male</option> 
                    <option value="female">female</option> 
                </select> 
                
            </p>
            <input type="submit" value="Register">
        </form>
    </div>
 
 
 
</body>
</html>